body{ 
    background-color: rgb(42, 54, 165);
color: rgb(255, 255, 255);
font-family:"Edu AU VIC WA NT Arrows", cursive;
display: flex;
justify-content: center;
align-items: center;
height: 200px;
margin: 20%;
font-size: 30px;
}

button{ 
 font-size: 20px;
background-color: rgb(196, 2, 255);
color: rgb(0, 0, 0);
}
.passo {
    display: none;
}

.passo.ativo {
    display:block;
}